ProcessDocs/ProcessAndroidDevSite/file_locs_tmp.txt
GenerateTooltips/ManualTooltips/ManualCoGoTooltips.*
ProcessDocs/ProcessAndroidDevSite/out
ProcessDocs/ProcessAndroidDevSite/cmds_test.txt
ProcessDocs/ProcessAndroidDevSite/metadata.txt
ProcessDocs/ProcessKotlinDocs/webhelp
ProcessDocs/ProcessKotlinDocs/kotlin_writerside_docs
ProcessDocs/ProcessKotlinDocs/KotlinLLMScratch/openaikey.txt
ProcessDocs/ProcessAndroidDevSite/DevsiteLLMScratch/openaikey.txt
__pycache__/
*.py[cod]
*$py.class