/* toc_style.css */

.toc-container {
    /* fixed width specified by build script */
    margin: 10px;
}

li.page a {
    color: blue;
    text-decoration: none;
}

li.external a {
    color: red;
    text-decoration: none;
}

li.heading .entry-title {
    color: purple;
}

.hidden {
    display: none;
}

.icon-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    transition: transform 0.2s ease;
}

li.heading.expanded .icon-wrapper {
    transform: rotate(90deg);
}

/* Optionally, add hover cursors for pages */
li.page a:hover, li.external a:hover {
    text-decoration: underline;
}